.navbar-fix{
  display: block;
  background-color: #435c5f;
  color: #fff;
  font-size: 1.rem;
  font-weight: 700;
  padding: 0.1rem .5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navLogo {
    float: left;
    display: inline-block;
    height: 38px;
    margin-top: 4px;
    margin-right: 5px;
    align-items: center;
  }
  
  .logo-text {
    font-size: 1.15em;
    font-weight: 600;
    color: #f4faf8;
    margin-top: 9px;
  }
  
  .logo-text:hover {
    cursor: pointer;
  }